<div class="notice"><%= @message %></div>
<h1>Book Collection</h1>
<% @books.each do |book| %>
    <%= book.title %>

    <%= link_to("Show", book_path(book), class: "action show") %>
    <%= link_to("Edit", edit_book_path(book), class: "action edit") %>
    <%= link_to("Delete", delete_book_path(book), class: "action delete") %>
    <br>
<% end %>

<%= link_to('Add Book', {controller: 'books', action: 'new'})%>
